<%= form_with(model: thought, local: true) do |form| %>
<% if thought.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(thought.errors.count, "error") %> prohibited this thought from being saved:</h2>
  <ul>
    <% thought.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <% if user_signed_in? %>
  <div class="field">
    <%= form.text_area :head, class: "form-control" %>
  </div>
  <br />
  <button type="submit" class="btn btn-outline-primary btn-lg px-4 me-sm-3">
    <%= image_tag "interrobang.svg", alt: "a7a", width: "16", height: "36" %>
  </button>
  <% else %>
  <div class="field">
    <%= form.text_area :head, class: "form-control", disabled: true %>
    <span class="pull-right label label-default" id="count_message"></span>
  </div>
  <br />
  <button type="submit" class="btn btn-outline-primary disabled btn-lg px-4 me-sm-3">
    <%= image_tag "interrobang.svg", alt: "a7a", width: "16", height: "36" %>
  </button>
  <% end %>
</div>
<% end %>